<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Flight Tracker</title>
</head>

<body style='width: 90vw; margin: auto;'>
	<nav>
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/all_crafts">All Crafts</a></li>
			<li><a href="/notebooks/main_notebook.ipynb">Main Analsys</a></li>
			<li><a href="/notebooks/flight_data_analysis.ipynb">Flight Data Analsys</a></li>
		</ul>
	</nav>

	<div>
		{% block content %}
		{% endblock %}
	</div>
</body>

</html>