{% extends 'base.html' %}

{% block content %}

<div>
	<h1>Hello World</h1>
	<p>Today we are gonna esplor some maps. of flight trackers</p>
	<div>
		<iframe
			src="https://docs.google.com/presentation/d/e/2PACX-1vSL1xprweRoo9z60MCJyFiqQbxuMCrJAsrrkQHmBzEQjwVAkq4FzjVkFdWck3s0j2oM2CBYsUmATtCt/embed?start=true&loop=true&delayms=60000"
			frameborder="0" width="1440" height="839" allowfullscreen="true" mozallowfullscreen="true"
			webkitallowfullscreen="true"></iframe>
	</div>
	<div>
		{{ map_html|safe }}
	</div>
</div>
{% endblock %}