<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_210af8da53f83aed6ae3f494fd6d17e4 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_210af8da53f83aed6ae3f494fd6d17e4" ></div>
        
</body>
<script>
    
    
            var map_210af8da53f83aed6ae3f494fd6d17e4 = L.map(
                "map_210af8da53f83aed6ae3f494fd6d17e4",
                {
                    center: [33.9405, -118.4048],
                    crs: L.CRS.EPSG3857,
                    zoom: 4,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_a6966f5d9b5bfd16123fcb89d8caea6d = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors", "detectRetina": false, "maxNativeZoom": 19, "maxZoom": 19, "minZoom": 0, "noWrap": true, "opacity": 1, "subdomains": "abc", "tms": false}
            );
        
    
            tile_layer_a6966f5d9b5bfd16123fcb89d8caea6d.addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
    
            var marker_3dc10c37ae059401bd953e36755d23cb = L.marker(
                [33.9405, -118.4048],
                {}
            ).addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
    
            var icon_7bb94dc77de5285d4dc1ad96f9a35c15 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "darkgreen", "prefix": "glyphicon"}
            );
            marker_3dc10c37ae059401bd953e36755d23cb.setIcon(icon_7bb94dc77de5285d4dc1ad96f9a35c15);
        
    
        var popup_ba35365cbb5c842b895d49b4fdedd6a0 = L.popup({"maxWidth": "100%"});

        
            
                var html_c1d0774c20ea310f383cb57f23099d9c = $(`<div id="html_c1d0774c20ea310f383cb57f23099d9c" style="width: 100.0%; height: 100.0%;">Flight Path</div>`)[0];
                popup_ba35365cbb5c842b895d49b4fdedd6a0.setContent(html_c1d0774c20ea310f383cb57f23099d9c);
            
        

        marker_3dc10c37ae059401bd953e36755d23cb.bindPopup(popup_ba35365cbb5c842b895d49b4fdedd6a0)
        ;

        
    
    
            marker_3dc10c37ae059401bd953e36755d23cb.bindTooltip(
                `<div>
                     📝
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_e5c9b23531abd072c081d2c7356f91c3 = L.marker(
                [26.5662, -80.9735],
                {}
            ).addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
    
            var icon_128a763dd85bd17e540a3c79e0863899 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "darkpurple", "prefix": "glyphicon"}
            );
            marker_e5c9b23531abd072c081d2c7356f91c3.setIcon(icon_128a763dd85bd17e540a3c79e0863899);
        
    
        var popup_0a2790b09764f9fc9361ae93267b407b = L.popup({"maxWidth": "100%"});

        
            
                var html_2a2b760eef33004b2c688ba4844926fd = $(`<div id="html_2a2b760eef33004b2c688ba4844926fd" style="width: 100.0%; height: 100.0%;">Flight Path</div>`)[0];
                popup_0a2790b09764f9fc9361ae93267b407b.setContent(html_2a2b760eef33004b2c688ba4844926fd);
            
        

        marker_e5c9b23531abd072c081d2c7356f91c3.bindPopup(popup_0a2790b09764f9fc9361ae93267b407b)
        ;

        
    
    
            marker_e5c9b23531abd072c081d2c7356f91c3.bindTooltip(
                `<div>
                     📝
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_898065b8a08233ca31203e9121590f38 = L.marker(
                [29.9511, -91.9876],
                {}
            ).addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
    
            var icon_a12e2faa148d54869e605b43dac87a62 = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "black", "prefix": "glyphicon"}
            );
            marker_898065b8a08233ca31203e9121590f38.setIcon(icon_a12e2faa148d54869e605b43dac87a62);
        
    
        var popup_47a835d0344619e6a9adeb70cf00cf44 = L.popup({"maxWidth": "100%"});

        
            
                var html_1a32ac9992a50c8e8e003da57ed2ab8d = $(`<div id="html_1a32ac9992a50c8e8e003da57ed2ab8d" style="width: 100.0%; height: 100.0%;">Flight Path</div>`)[0];
                popup_47a835d0344619e6a9adeb70cf00cf44.setContent(html_1a32ac9992a50c8e8e003da57ed2ab8d);
            
        

        marker_898065b8a08233ca31203e9121590f38.bindPopup(popup_47a835d0344619e6a9adeb70cf00cf44)
        ;

        
    
    
            marker_898065b8a08233ca31203e9121590f38.bindTooltip(
                `<div>
                     📝
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_4b40936b3a15ddcd9b271c8897901951 = L.marker(
                [35.2937, -108.0026],
                {}
            ).addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
    
            var icon_4653cb379f8e7ff45ff4da7b3aea29bf = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "blue", "prefix": "glyphicon"}
            );
            marker_4b40936b3a15ddcd9b271c8897901951.setIcon(icon_4653cb379f8e7ff45ff4da7b3aea29bf);
        
    
        var popup_d0e96630062d6e31708c0e1a4f791ad7 = L.popup({"maxWidth": "100%"});

        
            
                var html_3a401b2795499e5f7ba87a3aeaf4ae66 = $(`<div id="html_3a401b2795499e5f7ba87a3aeaf4ae66" style="width: 100.0%; height: 100.0%;">Flight Path</div>`)[0];
                popup_d0e96630062d6e31708c0e1a4f791ad7.setContent(html_3a401b2795499e5f7ba87a3aeaf4ae66);
            
        

        marker_4b40936b3a15ddcd9b271c8897901951.bindPopup(popup_d0e96630062d6e31708c0e1a4f791ad7)
        ;

        
    
    
            marker_4b40936b3a15ddcd9b271c8897901951.bindTooltip(
                `<div>
                     📝
                 </div>`,
                {"sticky": true}
            );
        
    
            var marker_375d04d2b38a00adf3e96654d542c2cd = L.marker(
                [37.5327, -119.0358],
                {}
            ).addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
    
            var icon_4a092a7b67d18d70025cf89c71516a6c = L.AwesomeMarkers.icon(
                {"extraClasses": "fa-rotate-0", "icon": "plane", "iconColor": "white", "markerColor": "darkblue", "prefix": "glyphicon"}
            );
            marker_375d04d2b38a00adf3e96654d542c2cd.setIcon(icon_4a092a7b67d18d70025cf89c71516a6c);
        
    
        var popup_f41ac692498d80309ac4cd8c95d62b06 = L.popup({"maxWidth": "100%"});

        
            
                var html_ed27ac87595dddd9d92fb9b6b5859957 = $(`<div id="html_ed27ac87595dddd9d92fb9b6b5859957" style="width: 100.0%; height: 100.0%;">Flight Path</div>`)[0];
                popup_f41ac692498d80309ac4cd8c95d62b06.setContent(html_ed27ac87595dddd9d92fb9b6b5859957);
            
        

        marker_375d04d2b38a00adf3e96654d542c2cd.bindPopup(popup_f41ac692498d80309ac4cd8c95d62b06)
        ;

        
    
    
            marker_375d04d2b38a00adf3e96654d542c2cd.bindTooltip(
                `<div>
                     📝
                 </div>`,
                {"sticky": true}
            );
        
    
            var poly_line_0be720a6615615251c01489bc2f6eb8d = L.polyline(
                [[33.9405, -118.4048], [26.5662, -80.9735]],
                {"bubblingMouseEvents": true, "color": "green", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "green", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
    
            var poly_line_86b8af9023786d487c4f8c2e840e83fe = L.polyline(
                [[26.5662, -80.9735], [29.9511, -91.9876]],
                {"bubblingMouseEvents": true, "color": "blue", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "blue", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
    
            var poly_line_9fc25efd044b8801665da6bd6b333255 = L.polyline(
                [[29.9511, -91.9876], [35.2937, -108.0026]],
                {"bubblingMouseEvents": true, "color": "purple", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "purple", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
    
            var poly_line_ac49244b39a922e64a36a5a0fa96d167 = L.polyline(
                [[35.2937, -108.0026], [37.5327, -119.0358]],
                {"bubblingMouseEvents": true, "color": "orange", "dashArray": null, "dashOffset": null, "fill": false, "fillColor": "orange", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "noClip": false, "opacity": 1, "smoothFactor": 1.0, "stroke": true, "weight": 2.5}
            ).addTo(map_210af8da53f83aed6ae3f494fd6d17e4);
        
</script>
</html>